@import url("https://fonts.googleapis.com/css?family=Adamina|Raleway");

$orange: hsl(30, 77%, 55%);
$snowGray: hsl(0, 4%, 55%);

.wrapper {
  margin: 40px;
  font-family: "Raleway", sans-serif;
  color: #3c4142;
}

.homepage-header {
  font-family: "Adamina", serif;
  font-weight: normal;
  margin: 0;
  font-size: 60px;
  letter-spacing: 3px;
  margin-bottom: 30px;

  .homepage-underline {
    padding-top: 10px;
    -webkit-text-decoration: underline $orange;
    text-decoration: underline $orange;
  }
}

.homepage-body {
  letter-spacing: 1.3px;
  line-height: 1.3;
  color: $snowGray;
  margin: 15px 0;
}

.sidebar {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: sidebar;
}

.content {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: content;
  background: url(https://images.unsplash.com/photo-1573554394544-930a4cf6fc66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80)
    center center no-repeat;
  background-size: cover;
}

.header {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-column-span: 3;
  color: black;
  position: relative;
  grid-area: header;
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    padding-top: 45px;
    li {
      list-style: none;
      margin: 0 20px 0 0;
    }
  }
}

.wrapper {
  margin-left: 60px;
  width: calc(100vw - 140px);
  height: calc(100vh - 80px);
  display: -ms-grid;
  display: grid;
  grid-gap: 10px 100px;
  -ms-grid-columns: 1fr 100px 1fr 100px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 80px 10px 1fr 10px 80px;
  grid-template-rows: 80px 1fr 80px;
  grid-template-areas:
    "....... header  header"
    "sidebar content content"
    ".......  footer  footer";
  background-color: #fff;
}

.link {
  text-decoration: none;
  color: #3c4142;
}
