@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

$font-family-header: "Open Sans", sans;

.blog-footer {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

  @media screen and(max-width: 767px) {
    display: none;
  }
}

.blog-footer-form {
  display: flex;
  flex-direction: column;
}

.blog-footer-header {
  margin-bottom: 45px;
}

.blog-footer-form-span {
  margin-left: 75px;
}

.gate {
  display: inline-block;
  width: 215px;
  padding: 10px 0 10px 15px;
  font-family: $font-family-header;
  font-weight: 400;
  color: #377d6a;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 65px;
  transition: all 0.3s ease-in-out;

  &::-webkit-input-placeholder {
    color: #efefef;
    text-indent: 0;
    font-weight: 300;
  }

  + label {
    display: inline-block;
    position: absolute;
    left: 42.5%;
    padding: 10px 15px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
    background: #377d6a;
    transition: all 0.4s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transform-origin: left bottom;
    z-index: 99;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 3px;
      background: #377d6a;
      transform-origin: left bottom;
      transition: all 0.4s ease-in-out;
      pointer-events: none;
      z-index: -1;
    }
    &:before {
      background: rgba(3, 36, 41, 0.2);
      z-index: -2;
      right: 20%;
    }
  }
}
span:nth-child(2) .gate {
  text-indent: 85px;
}
span:nth-child(2) .gate:focus,
span:nth-child(2) .gate:active {
  text-indent: 0;
}
.gate:focus,
.gate:active {
  color: #377d6a;
  text-indent: 0;
  background: #efefef;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;

  &::-webkit-input-placeholder {
    color: #aaa;
  }
  + label {
    transform: rotate(-66deg);
    border-radius: 3px;

    &:before {
      transform: rotate(10deg);
    }
  }
}
.blog-footer-icons {
  display: flex;
  flex-direction: row;
  margin: 20px 0 0 20px;

  .blog-footer-icon-github,
  .blog-footer-icon-twitter {
    margin: 0 8px;
    margin-bottom: 40px;
  }
}

.hr-div {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 60px;
  background-image: radial-gradient(
    circle at center,
    black 1px,
    transparent 2.5px
  );
  background-size: 100px 100px;
  margin-bottom: 40px;
  margin-right: 30px;
}
