@import url("https://fonts.googleapis.com/css?family=Lato|Work+Sans");

$font-size: 1.4rem;
$font-weight: 400;
$font-family-WorkSans: "Work Sans", sans-serif;
$display-style: flex;
$li-margin: 13px;
$color-white: #fff;
$nav-color: rgba(0, 0, 0, 0.54);
$color-lighter-black: #333;

.blog-nav-wrapper {
  height: 61px;
  position: relative;

  @media (max-width: 768px) {
    width: 200vw !important;
    position: -webkit-sticky;
  }
}

.blog-nav {
  height: 61px;
  background: transparentize($color-white, $amount: 0.6);
  -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.15);
  max-width: 100%;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  line-height: 22.4px;
  z-index: 3;

  @media (max-width: 768px) {
    width: 200vw !important;
    position: -webkit-sticky;
  }
}

.blog-list-left {
  color: $nav-color;
  font-weight: $font-weight;
  font-size: $font-size;
  list-style: none;
  display: $display-style;
  position: absolute;
  left: 1.6%;
}
.nav-center {
  position: absolute;
  grid-area: midHeader;
  text-align: center;
  height: 50px;
  left: 0;
  z-index: 11;
  right: 0;
  top: -60px;
  @media (max-width: 768px) {
    display: none;
  }
}

.blog-list-right {
  color: $nav-color;
  font-weight: $font-weight;
  font-size: $font-size;
  list-style: none;
  display: $display-style;
  position: absolute;
  right: 2.87%;
}

.sidebar-container {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: sidebar;
  margin-top: 50px;
  margin-left: 20px;
}

.blog-link {
  font-family: $font-family-WorkSans;
  text-decoration: none;
  font-size: 1.45rem;
  cursor: pointer;
  color: $nav-color;
  z-index: 11;
  margin: 18px 30px 0 30px;

  &:hover {
    color: rgba(0, 0, 0, 0.3) !important;
  }
}

.blog-li {
  cursor: default;
}

.blog-avatar {
  position: absolute !important;
  z-index: 9 !important;
  height: 63px !important;
  top: -1.8px !important;
  right: 8px !important;
  color: $nav-color;

  @media screen and (max-width: 767px) {
    display: none !important;
  }
}
