@import url("https://fonts.googleapis.com/css?family=Open+Sans:600|Roboto");

/****VARIABLES*******/
$font-family-header: "Open Sans", sans-serif;
$font-family-body: "Roboto", sans-serif;
$transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);

.blog-wrapper {
  max-width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  gap: 0 100px;
  -ms-grid-columns: 1fr 100px 1fr 100px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 80px 10px 1fr 10px 5px;
  grid-template-rows: 80px 1fr 5px;
  grid-template-areas:
    "....... header  ......."
    ".... content content"
    "sidebar  footer  footer";

  .blog-container {
    text-align: center;
  }
}
.sidebar-container {
  margin-left: 59.6px;

  .sidebar-header {
    padding-top: 50px;
    grid-area: sidebar;
    font-size: 40px;
    margin-bottom: 15px;
    font-family: $font-family-header;
    font-weight: 600;
    -webkit-font-smoothing: antialiased !important;
  }
  .sidebar-text {
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 1.3;
    z-index: 80;
    grid-area: sidebar;
    font-family: $font-family-body;
    font-weight: 400;
    -webkit-font-smoothing: antialiased !important;
  }
}

/**IMAGE STYLES**/

.blog-img {
  position: absolute;
  right: 112px;
  bottom: 150px;
  height: 669px;
  background: url(../../../public/assets/PS-Blog.png) center center no-repeat;
  background-size: cover;
  z-index: 2;
}

/**HR**/

.blog-hr {
  width: 80%;
  margin-left: 190px;
  color: rgba(0, 0, 0, 0.2);
}
