@import url("https://fonts.googleapis.com/css?family=Lato|Work+Sans");

// body,
// html,
// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

/****VARIABLES*******/
$font-size: 1.4rem;
$font-weight: 400;
$text-align: center;
$font-family-WorkSans: "Work Sans", sans-serif;
$display-style: flex;
$list-style: none;
$li-margin: 13px;
$color-white: #fff;
$color-lighter-black: #333;
$max-width: 100%;
$max-width-125: 125%;
$absolute: absolute;

.outter-div {
  background: $color-lighter-black;
}

/**NAVBAR STYLES**/

.blog-nav {
  height: 20px;
  padding-bottom: 15px;
  background: $color-lighter-black;
  max-width: $max-width;
}

.blog-list-left {
  color: $color-white;
  font-weight: $font-weight;
  font-size: $font-size;
  list-style: $list-style;
  display: $display-style;
  position: $absolute;
  left: 1.6%;
}
.nav-center {
  position: $absolute;
  font-family: "Lato";
  font-size: 1.9rem;
  color: $color-white;
  left: -75px;
  right: 0;
  top: 5px;
  font-weight: $font-weight;
  text-align: $text-align;
}

.blog-list-right {
  color: $color-white;
  font-weight: $font-weight;
  font-size: $font-size;
  list-style: $list-style;
  display: $display-style;
  position: $absolute;
  right: 2.87%;
}

.blog-link {
  font-family: $font-family-WorkSans;
  text-decoration: $list-style;
  font-size: 1.45rem;
  cursor: pointer;
  color: $color-white;
  z-index: 100;
  margin: 13px 30px 0 30px;
}

/**IMAGE STYLES**/

.wrapper {
  text-align: $text-align;
  vertical-align: middle;
  max-width: $max-width-125;
  position: relative;
  top: 2.3%;
}
.top-img {
  background: center;
  width: 350%;
}
