$sub-color: grey;
$main-color: black;

.sign-in {
  width: 500px;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }
}

.group {
  position: relative;
  margin: 45px 0;

  .form-input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 16px;
    padding: 25px 10px 0 5px;
    width: 100%;
    display: block;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin: 25px 0 5px 0;
    line-height: 1.5;

    &:focus {
      outline: none;
    }
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $main-color;
    font-size: 16px;
    text-align: center;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    width: 100%;
    top: -18px;
  }
}

.login-form-link {
  transform: translate(-1%, -155%);
}
