@import url("https://fonts.googleapis.com/css?family=Lato|Merriweather:300");

$orange: hsl(30, 77%, 55%);
$snowGray: hsl(0, 4%, 55%);
$font-family-header: "Merriweather", serif;
$font-family-body: "Lato", sans-serif;

#main {
  overflow: hidden;
}

.wrapper {
  margin: 40px;
  font-family: "Raleway", sans-serif;
  color: #3c4142;
  margin-left: 60px;
  width: calc(100vw - 140px);
  overflow: hidden !important;
  height: calc(100vh - 80px);
  display: -ms-grid;
  display: grid;
  gap: 10px 100px;
  -ms-grid-columns: 1fr 100px 1fr 100px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 80px 10px 1fr 10px 80px;
  grid-template-rows: 80px 1fr 80px;
  grid-template-areas:
    "..... header  header"
    "sidebar content content"
    ".......  footer  footer";
  background-color: #fff;

  @media (max-width: 768px) {
    text-align: center;
    margin-left: 50px;
    overflow: scroll;
    height: 110vh !important;
    width: 106vw !important;
  }
}

.homepage-header {
  font-family: $font-family-header;
  font-weight: 300;
  margin: 0;
  font-size: 60px;
  letter-spacing: 3px;
  margin-bottom: 30px;

  .homepage-underline {
    padding-top: 10px;
    -webkit-text-decoration: underline $orange;
    text-decoration: underline $orange;
  }
  @media (max-width: 768px) {
    display: flex;
    font-size: 48px;
    align-items: center;
    align-content: center;
  }
}

.homepage-body {
  letter-spacing: 1.3px;
  line-height: 1.3;
  color: $snowGray;
  font-family: $font-family-body;
  margin: 15px 0;

  @media (max-width: 768px) {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: justify;
  }
}

.sidebar {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: sidebar;
}

.content {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: content;
  background: url(https://images.unsplash.com/photo-1573554394544-930a4cf6fc66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80)
    center center no-repeat;
  background-size: cover;

  @media (max-width: 768px) {
    position: absolute;
    width: 425px;
    height: 275px;
    margin: 0;
    bottom: 0;
  }
}

.header {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-column-span: 3;
  color: black;
  position: relative;
  grid-area: header;

  .homepage-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    padding-top: 45px;
    .homepage-list-item {
      list-style: none;
      margin-right: 40px;
      font-family: $font-family-header;
    }
  }
  @media (max-width: 768px) {
    display: flex;
    position: absolute;
    top: -25px;
    font-size: 25px;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
}
.homepage-link {
  list-style: none;
  text-decoration: none;
}
.link {
  list-style: none;
  text-decoration: none;
}

.homepage-svg-span-wrapper {
  position: relative;

  .homepage-svg {
    bottom: -5%;
    position: absolute;
    left: 294%;
    height: 250px;
    z-index: 10;
  }
  @media (max-width: 768px) {
    display: none;
  }
}
